<h1><%= @dish.name %></h1>
<p>Chef: <%= @dish.chef.name %></p>

<h2>Ingredients:</h2>
<% @dish.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<h4>Total Calories: <%= @dish.ingredients.total_calories %></h4>